{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>
            {% block title %}
                Mining Statistic
            {% endblock %}
        </title>
        <link rel="stylesheet" type="text/css" href="{% static 'site/normalize.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'site/skeleton.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'site/style.css' %}">
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <div class="container"><!-- container -->
            <div class="status row">
                <div class="offset-by-eight four columns">
                    <ul class="inline">
                        <li><a href="{% url 'underconstruction' %}">Вход</a></li>
                    </ul>
                </div>
            </div>
            <header class="row">
                <div class="offset-by-one ten columns">
                    <h1 class="logo">Mining Statistic</h1>
                </div>
            </header>
            <nav>
                <ul>
                    <li><a href="{% url 'statistic:server:list' %}">Статистика</a></li>
                    <li><a href="{% url 'task:server:list' %}">Задания</a></li>
                    <li><a href="{% url 'miner:server:list' %}">Серверы</a></li>
                    <li><a href="{% url 'miner:miner:list' %}">Майнеры</a></li>
                    <li><a href="{% url 'underconstruction' %}">Пулы</a></li>
                    <li><a href="{% url 'task:config:list' %}">Настройка</a></li>
                    <li><a href="{% url 'underconstruction' %}">Контакт!</a></li>
                </ul>
            </nav>
            <main>
                {% block content %}
                {% endblock %}
            </main>
        </div><!-- container -->
        <footer>
            <p>&copy; 2018 <a href="http://localhost">varga</a></p>
        </footer>
    </body>
</html>
