{% extends "miner/base_miner.html" %}

{% block title %}
    {{ block.super }} - {{ miner.name }}
{% endblock %}

{% block content %}
    <article>
        <div class="row">
            <div class="offset-by-two eight columns">
                <h3>Майнер: {{ miner.name }}</h3>
                <ul class="inline">
                    <li><a href="{{ miner.get_update_url }}" class="button">Изменить майнер</a></li>
                    <li><a href="{{ miner.get_delete_url }}" class="button">Удалить майнер</a></li>
                </ul>
                <dl>
                    <dt><strong>Версия:</strong></dt>
                    <dd>{{ miner.version }}</dd>
                    {% if miner.description %}
                        <dt><strong>Описание:</strong></dt>
                        <dd>{{ miner.description|linebreaks }}</dd>
                    {% endif %}
                </dl>
            </div>
        </div>
        <div class="row">
                <section class="meta offset-by-two one-third column">
                    <h5>Поддерживаемые запросы</h5>
                    <ul>
                        {% for request in miner.requests.all %}
                            <li><a href="{{ request.get_absolute_url }}">{{ request.name }}</a>
                                <ul class="inline">
                                    <li><a href="{{ request.get_update_url }}" class="button">Изменить</a></li>
                                    <li><a href="{{ request.get_delete_url }}" class="button">Удалить</a></li>
                                </ul>
                            </li>
                        {% empty %}
                            <li><em>Запросы отсутствуют.</em></li>
                        {% endfor %}
                    </ul>
                </section>
                <section class="meta offset-by-two one-third column">
                    <p><a href="{{ miner.get_request_create_url }}" class="button">Добавить запрос</a></p>
                </section>
        </div>
    </article>
{% endblock %}
