{% extends "miner/base_miner.html" %}
{% load i18n %}
{% load names %}

{% block title %}
    {{ block.super }} - {{ view.model|verbose_name_plural }}
{% endblock %}

{% block create_button %}
    <a href="{% url 'miner:miner:create' %}" class="button button-primary">{% trans "Create" %}</a>
{% endblock %}

{% block miner_content %}
    <div class="offset-by-two ten columns">
        <h2>{{ view.model|verbose_name_plural }}</h2>
        <ul>
            {% for miner in object_list %}
                <li>
                    <a href="{{ miner.get_absolute_url }}">{{ miner }}</a>
                    <ul class=inline>
                        <li><a href="{{ miner.get_update_url }}" class="button">{% trans "Edit" %}</a></li>
                        <li><a href="{{ miner.get_delete_url }}" class="button">{% trans "Delete" %}</a></li>
                    </ul>
                </li>
            {% empty %}
                <li>
                    <em>
                        {% blocktrans with model_name=view.model|verbose_name_plural %}
                            No {{ model_name }} available
                        {% endblocktrans %}
                    </em>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
