{% extends "miner/base_miner.html" %}
{% load names %}

{% block title %}
    {{ block.super }} - {{ model|verbose_name_plural }}
{% endblock %}

{% block create_button %}
    <a href="{% url 'miner:miner:create' %}" class="button button-primary">Добавить</a>
{% endblock %}

{% block miner_content %}
    <div class="offset-by-two ten columns">
        <h2>{{ model|verbose_name_plural }}</h2>
        <ul>
            {% for miner in object_list %}
                <li>
                    <a href="{{ miner.get_absolute_url }}">{{ miner }}</a>
                    <ul class=inline>
                        <li><a href="{{ miner.get_update_url }}" class="button">Изменить</a></li>
                        <li><a href="{{ miner.get_delete_url }}" class="button">Удалить</a></li>
                    </ul>
                </li>
            {% empty %}
                <li><em>{{ model|verbose_name_plural }} отсутствуют.</em></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
