{% extends "task/base_task.html" %}
{% load i18n %}
{% load names %}

{% block title %}
    {{ block.super }} – {{ config|verbose_name }}: {{ config.name }}
{% endblock %}

{% block content %}
    <article>
        <div class="row">
            <div class="offset-by-two eight columns">
                <h3>{{ config|verbose_name }}: {{ config.name }}</h3>
                <ul class="inline">
                    <li><a href="{{ config.get_update_url }}" class="button">{% trans "Edit" %}</a></li>
                    <li><a href="{{ config.get_delete_url }}" class="button">{% trans "Delete" %}</a></li>
                </ul>
                <dl>
                    <dt><strong>{% field_verbose_name config 'enabled' %}:</strong></dt>
                    <dd>{{ config.enabled|yesno:_('Enabled,Disabled') }}</dd>
                    {% if config.description %}
                        <dt><strong>{% field_verbose_name config 'description' %}:</strong></dt>
                        <dd>{{ config.description }}</dd>
                    {% endif %}
                </dl>
                <h5>{% trans "Common settings" %}:</h5>
                <dl>
                    <dt><strong>{% field_verbose_name config 'refresh' %}:</strong></dt>
                    <dd>{{ config.refresh }}</dd>
                    <dt><strong>{% field_verbose_name config 'log' %}:</strong></dt>
                    <dd>{{ config.get_log_display }}</dd>
                    {% if config.log_file %}
                        <dt><strong>{% field_verbose_name config 'log_file' %}:</strong></dt>
                        <dd>{{ config.log_file }}</dd>
                    {% endif %}
                </dl>
                </dl>
                <h5>Zabbix:</h5>
                <dl>
                    {% if config.zabbix_server %}
                        <dt><strong>{% field_verbose_name config 'zabbix_server' %}:</strong></dt>
                        <dd>{{ config.zabbix_server }}</dd>
                    {% endif %}
                    {% if config.zabbix_port %}
                        <dt><strong>{% field_verbose_name config 'zabbix_port' %}:</strong></dt>
                        <dd>{{ config.zabbix_port }}</dd>
                    {% endif %}
                    {% if config.zabbix_timeout %}
                        <dt><strong>{% field_verbose_name config 'zabbix_timeout' %}:</strong></dt>
                        <dd>{{ config.zabbix_timeout }}</dd>
                    {% endif %}
                    <dt><strong>{% field_verbose_name config 'zabbix_send' %}:</strong></dt>
                    <dd>{{ config.zabbix_send|yesno:_('Yes,No') }}</dd>
                </dl>
            </div>
        </div>
    </article>
{% endblock %}
