{% extends "task/base_task.html" %}

{% block title %}
    {{ block.super }} - {{ config.name }}
{% endblock %}

{% block content %}
    <article>
        <div class="row">
            <div class="offset-by-two eight columns">
                <h3>Конфигурация: {{ config.name }}</h3>
                <ul class="inline">
                    <li><a href="{{ config.get_update_url }}" class="button">Изменить конфигурацию</a></li>
                    <li><a href="{{ config.get_delete_url }}" class="button">Удалить конфигурацию</a></li>
                </ul>
                <dl>
                    <qdt><strong>Активна:</strong></dt>
                    {% if config.enabled %}
                        <dd>Да</dd>
                    {% else %}
                        <dd>Нет</dd>
                    {% endif %}
                    {% if config.description %}
                        <dt><strong>Описание:</strong></dt>
                        <dd>{{ config.description|linebreaks }}</dd>
                    {% endif %}
                </dl>
                <h5>Основные настройки:</h5>
                <dl>
                    <dt><strong>Интервал опроса серверов (сек.):</strong></dt>
                    <dd>{{ config.refresh }}</dd>
                    <dt><strong>Лог:</strong></dt>
                    <dd>{{ config.get_log_display }}</dd>
                    {% if config.log_file %}
                        <dt><strong>Файл логов:</strong></dt>
                        <dd>{{ config.log_file }}</dd>
                    {% endif %}
                </dl>
                </dl>
                <h5>Zabbix сервер:</h5>
                <dl>
                    {% if config.zabbix_server %}
                        <dt><strong>Адрес:</strong></dt>
                        <dd>{{ config.zabbix_server }}</dd>
                    {% endif %}
                    {% if config.zabbix_port %}
                        <dt><strong>Порт:</strong></dt>
                        <dd>{{ config.zabbix_port }}</dd>
                    {% endif %}
                    <dt><strong>Отправлять статистику:</strong></dt>
                    {% if config.zabbix_send %}
                        <dd>Да</dd>
                    {% else %}
                        <dd>Нет</dd>
                    {% endif %}
                </dl>
            </div>
        </div>
    </article>
{% endblock %}
