{% extends "task/base_task.html" %}

{% block title %}
    {{ block.super }} - Задания
{% endblock %}

{% block create_button %}
    <a href="{% url 'task:servertask:create' %}" class="button button-primary">Добавить задание</a>
{% endblock %}

{% block task_content %}
    <div class="offset-by-two ten columns">
        <h2>Задания</h2>
        <ul>
            {% for servertask in object_list %}
                <li>
                    <a href="{{ servertask.get_absolute_url }}">Задание #{{ servertask.pk }}</a>
                    : {{ servertask.server }}
                    (
                    {% for request in servertask.requests.all %}
                        {{ request.name }},
                    {% endfor %}
                    )
                    {% if servertask.enabled %}
                        - <strong>Активно</strong>
                    {% else %}
                        - Выключено
                    {% endif %}
                    {% if servertask.executed %}
                        - {{ servertask.executed }}
                    {% endif %}
                    {% if servertask.status %}
                        - Успех
                    {% endif %}
                    {% if servertask.status is False %}
                        - <strong>Ошибка</strong>
                    {% endif %}
                    <ul class=inline>
                        <li><a href="{{ servertask.get_update_url }}" class="button">Изменить</a></li>
                        <li><a href="{{ servertask.get_delete_url }}" class="button">Удалить</a></li>
                    </ul>
                </li>
            {% empty %}
                <li><em>Задания отсутствуют.</em></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
