{% extends "task/base_task.html" %}

{% block title %}
    {{ block.super }} - {{ server }}
{% endblock %}

{% block content %}
    <article>
        <div class="row">
            <div class="offset-by-two eight columns">
                <h3>Задание #{{ server.id }}</h3>
                <ul class="inline">
                    <li><a href="{{ server.get_update_url }}" class="button">Изменить задание</a></li>
                    <li><a href="{{ server.get_delete_url }}" class="button">Удалить задание</a></li>
                </ul>
                <dl>
                    <qdt><strong>Активно:</strong></dt>
                    {% if server.enabled %}
                        <dd>Да</dd>
                    {% else %}
                        <dd>Нет</dd>
                    {% endif %}
                    <qdt><strong>Последний запуск:</strong></dt>
                    {% if server.last_executed %}
                        <dd>{{ server.last_executed }}</dd>
                    {% else %}
                        <dd>Никогда</dd>
                    {% endif %}
                    <qdt><strong>Результат</strong></dt>
                    {% if server.status %}
                        <dd>Успех</dd>
                    {% else %}
                        {% if server.status is False %}
                            <dd>Ошибка</dd>
                        {% else %}
                            <dd>Неизвестен</dd>
                        {% endif %}
                    {% endif %}
                </dl>
                <h5>Параметры задания:</h5>
                <dl>
                    <dt><strong>Сервер:</strong></dt>
                    <dd><a href="{{ server.server.get_absolute_url }}">{{ server.server.name }}</a></dd>
                    <dt><strong>Майнер:</strong></dt>
                    <dd><a href="{{ server.server.miner.get_absolute_url }}">{{ server.server.miner }}</a></dd>
                    <dt><strong>Запросы:</strong></dt>
                    {% for request in server.requests.all %}
                        <dd><a href="{{ request.get_absolute_url }}">{{ request.name }}</a></dd>
                    {% empty %}
                        <li><em>Запросы отсутствуют.</em></li>
                    {% endfor %}
                </dl>
            </div>
        </div>
    </article>
{% endblock %}
