{% extends "task/base_task.html" %}
{% load names %}

{% block title %}
    {{ block.super }} - {{ model|verbose_name_plural }}
{% endblock %}

{% block create_button %}
    <a href="{% url 'task:server:create' %}" class="button button-primary">Добавить</a>
{% endblock %}

{% block task_content %}
    <div class="offset-by-two ten columns">
        <h2>{{ model|verbose_name_plural }}</h2>
        <ul>
            {% for servertask in object_list %}
                <li>
                    <a href="{{ servertask.get_absolute_url }}">{{ servertask|verbose_name }} #{{ servertask.pk }}</a>
                    : {{ servertask.server }}
                    (
                    {% for request in servertask.requests.all %}
                        {{ request.name }},
                    {% endfor %}
                    )
                    {{ servertask.enabled|yesno:"<strong>Активно</strong>,Выключено"|safe }}
                    {% if servertask.executed %}
                        - {{ servertask.executed }}
                    {% endif %}
                    - {{ servertask.status|yesno:"Успех,<strong>Ошибка</strong>,Неизвестно"|safe }}
                    <ul class=inline>
                        <li><a href="{{ servertask.get_update_url }}" class="button">Изменить</a></li>
                        <li><a href="{{ servertask.get_delete_url }}" class="button">Удалить</a></li>
                    </ul>
                </li>
            {% empty %}
                <li><em>{{ model|verbose_name_plural }} отсутствуют.</em></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
