{% extends "base.html" %}

{% block content %}
    {% block statistic_content %}
    {% endblock %}
    </div>
    {% if is_paginated %}
        <div class="row">
            <div class="twelve columns">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li><a href="?page=1">&laquo; Первая</a></li>
                        <li><a href="?page={{ page_obj.previous_page_number }}">Назад</a></li>
                    {% endif %}
                    <li>Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</li>
                    {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}">Вперед</a></li>
                        <li><a href="?page={{ paginator.num_pages }}">Последняя &raquo;</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock %}

