{% extends "statistic/base_statistic.html" %}
{% load django_tables2 %}

{% block title %}
    {{ block.super }} - Статистика
{% endblock %}

{% block head %}
    {{ block.super }}
    <meta http-equiv="refresh" content="{{ update_interval }}" />
{% endblock %}


{% block statistic_content %}
    {% for table in tables %}
        {% if table.data %}
            <h5>{{ table.verbose_name }}</h5>
            {% render_table table %}
        {% endif %}
    {% endfor %}
    <p style="font-size: 80%; text-align: right;">
        Сейчас: {{ now }}
        Интервал обновления: {{ update_interval }} сек.
    </p>
{% endblock %}
