{% extends "statistic/base_statistic.html" %}
{% load django_tables2 %}
{% load names %}

{% block title %}
    {{ block.super }} - {{ view.model|verbose_name_plural }}
{% endblock %}

{% block head %}
    {{ block.super }}
    <meta http-equiv="refresh" content="{{ update_interval }}" />
{% endblock %}

{% block statistic_content %}
    {% for table in tables %}
        {% if table.data %}
            <h5 style="text-align:center">
                {{ table.verbose_name_prefix }}
                <a href="{{ table.miner.get_absolute_url }}">{{ table.miner }}</a>
            </h5>
            {% render_table table %}
        {% endif %}
    {% empty %}
        <li><em>{{ view.model|verbose_name_plural }} отсутствует.</em></li>
    {% endfor %}
{% endblock %}

{% block footer %}
    {{ block.super }}
    <p>Сейчас: {{ now }} - Интервал обновления: {{ update_interval }} сек.</p>
{% endblock %}
